{% extends 'base.html' %}
{% load static %}
{% block title %}about{% endblock title %}
{% block content %}

<section id="inner-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>ABOUT US</h1>
                </div>
                <div class="col-sm-6">
                    <h6 class="breadcrumb"><a href="{% url 'home' %}">Home</a> / About us</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-sec">
    <div class="container">
        <div class="row text-center">
            <h1>UMMU AYMANI ISLAMIC CENTER (UIAC)</h1>
            <hr>
            <h5>Kila sifa njema anastahiki Mwenyezi Mungu mlezi wa viumbe vyote.</h5>

            <p>Kituo hiki cha UMMU AYMANI ISLAMIC CENTER kimeanzishwa na wanawake wa kiislamu walioko mkoa wa Morogoro wilaya ya kilosa katika kijiji cha Dumila juu, kwasababu ni jukumu la kila Mtanzania kumlea na kuwatunza watoto yatima pamoja na watoto
                wenye mazingira magumu.
            </p>
            <p>Kutokana na misingi ya dini ya kiislamu inawataka waislamu kuwatunza na kuwalea watoto yatima wanaoishi katika mazingira hatarishi na magumu,Hivyo kikundi cha wakina mama wa kiislamu wa kijiji cha Dumila juu (Dumila-Kilosa) wameamua kuwatunza
                na kuwalea watoto yatima, ikiwa na pamoja na kuwapatia elimu ya msinga na sekondari pale uwezo utakapo ruhusu bila kujali jinsia zao wala imani zao kwa kufuata sharia na taratibu za nchi na kuthamini haki za viumbe vyote duniani.</p>
            <div class="text-center">
                <div class="text-center">
                </div>
            </div>
        </div>
</section>

<section id="help">
    <div class="container">
        <div class="row text-center">
            <h1>WAYS TO HELP</h1>
            <hr>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
            <div class="text-left">
                <div class="col-md-6 clearfix top-off">
                    <div class="icon_circle"><i class="fa fa-heartbeat">&nbsp;</i></div>
                    <div class="help-text">
                        <h4>Donate</h4>
                        <div class="line line-50"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-6 clearfix top-off">
                    <div class="icon_circle"><i class="fa fa-user-plus">&nbsp;</i></div>
                    <div class="help-text">
                        <h4>Participate</h4>
                        <div class="line line-50"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-6 clearfix top-off">
                    <div class="icon_circle"><i class="fa fa-usd">&nbsp;</i></div>
                    <div class="help-text">
                        <h4>Fundraise</h4>
                        <div class="line line-50"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-6 clearfix top-off">
                    <div class="icon_circle"><i class="fa fa-credit-card">&nbsp;</i></div>
                    <div class="help-text">
                        <h4>Contribute</h4>
                        <div class="line line-50"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <!-- <div class="container">
        <div class="row text-center">
            <h1>MEET OUR TEAM</h1>
            <hr>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
            <div class="member col-xs-6 col-md-3">
                <div class="inner">
                    <div class="avatar-inner"><img src="images/team1.jpg"></div>
                    <div class="info">
                        <div class="name"><a href="#"> Michel Black </a></div>
                        <div class="regency">Volunteer</div>
                    </div>
                </div>
            </div>

            <div class="member col-xs-6 col-md-3">
                <div class="inner">
                    <div class="avatar-inner"><img src="images/team2.jpg"></div>
                    <div class="info">
                        <div class="name"><a href="#"> Juliana Moor </a></div>
                        <div class="regency">Volunteer</div>
                    </div>
                </div>
            </div>

            <div class="member col-xs-6 col-md-3">
                <div class="inner">
                    <div class="avatar-inner"><img src="images/team3.jpg"></div>
                    <div class="info">
                        <div class="name"><a href="#"> Andre Russel</a></div>
                        <div class="regency">Volunteer</div>
                    </div>
                </div>
            </div>

            <div class="member col-xs-6 col-md-3">
                <div class="inner">
                    <div class="avatar-inner"><img src="images/team4.jpg"></div>
                    <div class="info">
                        <div class="name"><a href="#"> Amily James</a></div>
                        <div class="regency">Volunteer</div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
</section>

<div class="callout">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Change Their World. Change Yours. This changes everything.</h2>
                <!-- /.callout-title -->
            </div>
            <!-- /.columns large-6 -->

            <div class="col-md-6">
                <div class="callout-actions">
                    <a href="{% url 'contact' %}" class="button">Become Volunteer</a>

                    <span class="callout-separator">
                    <span>Or</span>
                    </span>

                    <a href="{% url 'donate' %}" class="button">Donate For Cause</a>
                </div>
                <!-- /.callout-actions -->
            </div>
            <!-- /.columns large-6 -->
        </div>
        <!-- /.row -->
    </div>
</div>
{% include "footer.html" %}
{% endblock content %}

 

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootsnav.js"></script>
    <script src="js/banner.js"></script>
    <script src="js/script.js"></script>
