
{% extends 'base.html' %}
{% load static %}
{% block title %}activities{% endblock title %}
{% block content %}
<section id="inner-banner">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>ACTIVITIES</h1>
                </div>
                <div class="col-sm-6">
                    <h6 class="breadcrumb"><a href="{% url 'home' %}">Home</a> / Activities</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-sec">
    <div class="container">
        {% for act in activities %}
        <div class="row text-left">
           
            <div class="act-box clearfix">
                <div class="col-md-6 col-md-push-6">
                    <div class="image"><img src="{{act.image.url}}" /></div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="act-pad">
                        <h4>{{act.title}}</h4>
                        <p>{{act.description}}</p>
                        <div class="price">Raised:TZs {{act.kiasi_kilichopatikana}} <span class="goal">Goal:TZs {{act.kiasi_kinachohitajika}}</span></div>
                        <a href="{% url 'donate' %}" class="btn1">donate now</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
</section>

<div class="callout">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Change Their World. Change Yours. This changes everything.</h2>
                <!-- /.callout-title -->
            </div>
            <!-- /.columns large-6 -->

            <div class="col-md-6">
                <div class="callout-actions">
                    <a href="{% url 'contact' %}" class="button">Become Volunteer</a>

                    <span class="callout-separator">
                    <span>Or</span>
                    </span>

                    <a href="{% url 'donate' %}" class="button">Donate For Cause</a>
                </div>
                <!-- /.callout-actions -->
            </div>
            <!-- /.columns large-6 -->
        </div>
        <!-- /.row -->
    </div>
</div>

{% include "footer.html" %}
{% endblock content %}
  
